@font-face {
  font-family: LatoRegular;
  src: url(../resources/LatoFonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoSemiBold;
  src: url(../resources/LatoFonts/Lato-Semibold.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prenav {
  display: none;
}

.mynav {
  display: none;
}

.LatoRegular {
  font-family: LatoRegular, serif;
}

.eventCard {
  background-image: url(../resources/blackandwhiteGo.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: LatoRegular, sans-serif;
  text-align: center;
  color: orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

.eventstyle {
  font-size: 20px;
}

.styleSponsors {
  background: gray;
  color: white;
  position: relative;
  height: 127.333px;
}

.Inoue {
  position: absolute;
  top: 40px;
  right: 0;
}

.ministry {
  position: absolute;
  top: 74px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .mynav {
    display: block;
  }


  .navul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
  }

  .prenav {
    background-color: #3e3e3e;
    color: white;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #a5a5a5;
  }

  .prenavul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .prenavul > li {
    padding-right: 20px;
  }

  .toolbarStyle {
    display: none;
  }
}