@font-face {
  font-family: LatoRegular;
  src: url(../resources/LatoFonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoSemiBold;
  src: url(../resources/LatoFonts/Lato-Semibold.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(../resources/LatoFonts/Lato-Bold.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prenav {
  display: none;
}

.mynav {
  display: none;
}

.LatoRegular {
  font-family: LatoRegular, serif;
}

.eventCard {
  background-image: url(../resources/blackandwhiteGo.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: LatoRegular, sans-serif;
  text-align: center;
  color: orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  height: 155px;
  margin-top: 15px;
}

.eventstyle {
  font-size: 20px;
  margin-top: 45px;
}

.styleSponsors {
  background: gray;
  color: white;
  position: relative;
  height: 127.333px;
}

.Inoue {
  position: absolute;
  top: 40px;
  right: 0;
}

.ministry {
  position: absolute;
  top: 74px;
  right: 0;
}

.introStyle {
  background-image: url(../resources/goImage3.jpg);
}

.toolbarStyle {
  font-size: 52px;
  padding-top: 12px;
  padding-left: 12px;
}

.dispNone1 {
  display: none;
}

.plainAnchor {
  text-decoration: none;
  color: white;
}

.mobileMenuStyle {
  background-image: url(../resources/goImage3.jpg);
  height: 100vh;
}

.mobileMenuContent {
  color: white;
  font-family: LatoBold, sans-serif;
  font-size: 48px;
}

.xButton {
  position: absolute;
  top: 0;
  color: white;
  font-size: 59px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .mynav {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
  }

  .navul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
    color: #7b7b7b;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .liGray {
    padding-right: 35px;
  }

  .prenav {
    background-color: #3e3e3e;
    color: white;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #a5a5a5;
  }

  .prenavul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .prenavul > li {
    padding-right: 20px;
  }
  
  .ccsummitlogo {
    width: 120px;
  }

  .liRed {
    color: #ee3e27;
    border: 2px solid #ee3e27;
    padding: 0 5px;
  }

  .liGray:hover {
    color: #ee3e27;
  }

  .mainAnchor {
    text-decoration: none;
    color: gray;
  }

  .mainAnchor:hover {
    color: #ee3e27;
  }

  .toolbarStyle {
    display: none;
  }

  .introStyle {
    padding-left: 130px;
  }
}