@font-face {
  font-family: LatoRegular;
  src: url(../resources/LatoFonts/Lato-Regular.ttf);
}

.prenav {
  display: none;
}

.mynav {
  display: none;
}

.LatoRegular {
  font-family: LatoRegular, serif;
}

.buttonMoreStyle {
  text-align: center;
  border: 1px solid lightgray;
}

.arrowStyle {
  width: 10px;
}

.mainStyle {
  background-color: black;
  color: white;
}

.mainh2Style {
  text-align: center;
}

.divOpacity {
  background-color: gray;
  opacity: 0.4;
}

.flexbox {
  display: flex;
}

.activityType {
  color: orange;
}

.activityContent {
  font-size: 13px;
}

.flexCenter {
  justify-content: center;
}

.buttonMainStyle {
  border: none;
  border-radius: 2px;
  background-color: orange;
  margin: 5px 0;
}

.alienImage {
  width: 20px;
}

.programStyle {
  display: none;
}

@media screen and (min-width: 768px) {
  .mynav {
    display: block;
  }

  .navul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
  }

  .prenav {
    background-color: black;
    color: white;
    display: block;
  }

  .prenavul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
  }

  .toolbarStyle {
    display: none;
  }

  .buttonMainStyle {
    display: none;
  }

  .programStyle {
    display: block;
    text-align: center;
  }
}