@font-face {
  font-family: LatoRegular;
  src: url(../resources/LatoFonts/Lato-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prenav {
  display: none;
}

.mynav {
  display: none;
}

.LatoRegular {
  font-family: LatoRegular, serif;
}

.buttonMoreStyle {
  text-align: center;
  border: 1px solid lightgray;
}

.arrowStyle {
  width: 10px;
}

.mainStyle {
  background-color: black;
  color: white;
}

.mainh2Style {
  text-align: center;
}

.divOpacity {
  background-color: gray;
  opacity: 0.4;
}

.flexbox {
  display: flex;
}

.activityType {
  color: orange;
}

.activityContent {
  font-size: 13px;
}

.flexCenter {
  justify-content: center;
}

.buttonMainStyle {
  border: none;
  border-radius: 2px;
  background-color: orange;
  margin: 5px 0;
}

.alienImage {
  width: 20px;
}

.programStyle {
  display: none;
}

.styleSponsors {
  display: none;
}

.styleCopyright {
  display: none;
}

.horizontalLine {
  color: #d7d7d7;
  width: 25px;
}

.redText1 {
  color: red;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .mynav {
    display: block;
  }

  .navul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
  }

  .prenav {
    background-color: #3e3e3e;
    color: white;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #a5a5a5;
  }

  .prenavul {
    list-style-type: none;
    display: flex;
    font-family: LatoRegular, sans-serif;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .prenavul > li {
    padding-right: 20px;
  }

  .toolbarStyle {
    display: none;
  }

  .buttonMainStyle {
    display: none;
  }

  .programStyle {
    display: block;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 50px;
  }

  .pStyle1 {
    font-size: 30px;
  }

  .h1Style {
    font-size: 70px;
    max-width: 650px;
  }

  .introStyle {
    padding-left: 130px;
  }

  .styleSponsors {
    display: block;
    background: gray;
    color: white;
    position: relative;
  }
  
  .styleCopyright {
    display: block;
  }
}
